.main-footer {
  display: flex;
  color: white;
  background-color: #4D774E;
  margin-top: 5em;
  padding-top: 1em;
  width: 100%;
  position: sticky;
  left: 0;
  bottom: 0;
  right: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  justify-content: center;
  align-items: center;}
