.custom-footer {
  color: white;
  background-color: #4D774E;
}

.link-light:hover {
  color: #F1B24A;
  cursor: pointer;
}

.social-icons {
  display: flex;
justify-content:space-around;
margin-left: 600px;
margin-right: 600px;
margin-bottom: 10px;
}

.social-icon {
display:flex;
}
