@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Carter+One&family=Montserrat:ital,wght@1,500;1,800&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap');

.custom-header {
  background-image: url("img/headerImg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}

.custom-header-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  font-size: 100px;
  color: #F1B24A;
}
