.upload-cv-file {
  margin-left: 50px;
  margin-top: 50px
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #4D774E;
}

.uploader {
  display: block;
  clear: both;
  width: 100%;
  max-width: 600px;
  margin-top: 70px;
  padding-bottom: 70px;
}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader label:hover {
  border-color: #4D774E;
}
.uploader #response.hidden {
  display: none;
}

.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader input[type=file] {
  display: none;
}
.uploader div {
  margin: 0 0 0.5rem 0;
  color: #4D774E;
 }
.uploader .btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #4D774E;
  border-color: #4D774E;
  cursor: pointer;
}

.flex-outer1 {
  display: flex;
  flex-direction: column;
  text-align: end;
  list-style: none;
  margin: 10px;
}

.line-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contact__form-input {
  height: 40px;
  margin-left: 100px;
}

.buttons2 {
  display: flex;
  flex-direction: row-reverse;
}

.resumebuildupload {
  margin-bottom: 50px;
  display: flex;
}


.contact__form {
  padding: 105px 95px;
}

.contact__form>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.contact__form-input,
.contact__form-textarea {
  width: 500px;
  height: 40px;
  background: transparent;
  border-radius: 2px;
}

.contact__form-textarea {
  height: 100px;
}

label[for="message"].contact__form-label {
  align-self: flex-start;
}

.btn.btn-success.upload {
 margin-left: 30px;
}
